.nav-items-desktop {
  display: none;
}

.nav-items-mobile {
  display: inline-block;
}

@media (min-width: 768px) {
  .nav-items-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .nav-items-mobile {
    display: none;
  }
}